@charset "UTF-8";
@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro LightSemiExt';
  src: url("../fonts/MyriadPro-LightSemiExt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro Semibold';
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro SemiExt';
  src: url("../fonts/MyriadPro-SemiExt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #121212;
  background-color: #e8e7e7;
  font-family: 'MyriadPro SemiExt', sans-serif;
  letter-spacing: normal;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1579px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__content {
  max-width: 1415px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__top {
  background-color: #00aa4b;
  width: 100%;
}

.menu {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "MyriadPro";
  color: #fff;
}

.menu__lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.menu__lists {
  width: 39%;
  height: 30px;
}

.menu__lists:first-child {
  width: 25.5%;
  min-width: 280px;
  padding-left: 2px;
  padding-right: 1.9%;
}

.menu__lists:nth-child(2) {
  padding-left: 1.5%;
  padding-right: 1.9%;
}

.menu__lists:last-child {
  width: 35%;
  border: none;
  padding-right: 0px;
  padding-left: 1.5%;
}

.menu__lists:last-child li:first-child {
  margin-right: 2.8%;
}

.menu__lists:last-child li:nth-child(2) {
  margin-right: 2.7%;
}

.menu__lists:last-child li:nth-child(3) {
  position: relative;
}

.email-btn {
  display: none;
  position: absolute;
  font-family: "MyriadPro";
  font-size: 18px;
  color: #ffffff;
  padding: 9px 20px 8px;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
  background: #232323;
  top: 48px;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.header__icon {
  vertical-align: middle;
}

.header__email {
  margin-right: 3px;
}

.header__phone {
  margin-right: 3px;
}

.header__mobile {
  background: #f1f1f1;
  border-bottom: solid 1px #e8e7e7;
  display: none;
}

.header__mobile-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.mobile__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  background: #fda11c;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}

.header__btn-inner {
  width: 30px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.header__btn-strip {
  display: inline-block;
  height: 3px;
  width: 100%;
  background: #fff;
}

.menu__mobile {
  display: none;
}

.mobile__logo {
  width: 255px;
}

.mobile__logo-content {
  padding-top: 10px;
}

.mobile__logo-img {
  float: left;
  margin-right: 10px;
}

.mobile__logo-title {
  font-family: 'MyriadPro LightSemiExt';
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

.mobile__logo-text {
  color: #777777;
  font-family: 'MyriadPro LightSemiExt';
  margin-top: 2px;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.mobile__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__right div {
  margin-left: 8px;
  cursor: pointer;
}

.mobile__right img {
  width: 100%;
  height: auto;
}

.mobile__basket {
  position: relative;
  padding-top: 5px;
}

.mobile__basket-count {
  position: absolute;
  font-size: 24px;
  top: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffaf2d;
}

.search {
  height: 64px;
}

.search__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.search__logo {
  margin-right: 5.1%;
}

.search__find {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 895px;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  margin-right: 3.2%;
  cursor: pointer;
}

.search__find-categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  padding-left: 16px;
  background-color: #f1f1f1;
  font-family: 'MyriadPro';
  color: #777;
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  border-right: 1px solid #e8e7e7;
  padding-right: 20px;
}

.search__find-mobile {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 895px;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  margin-right: 3.2%;
  cursor: pointer;
}

.search__find-categories_mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  padding-left: 16px;
  background-color: #f1f1f1;
  font-family: 'MyriadPro';
  color: #777;
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  border: 3px solid #fff;
  padding-right: 25px;
}

.search__find-categories_mobile::after {
  content: '';
  position: absolute;
  bottom: 6px;
  right: 7px;
  border: 6px solid transparent;
  border-top: 8px solid #3c3c3c;
}

.search__find-categories_show-mobile {
  display: none;
  position: absolute;
  top: 38px;
  left: 2px;
  z-index: 10;
  background-color: #f1f1f1;
  padding: 20px;
  width: 230px;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.search__find-text_mobile {
  width: 100%;
  height: 100%;
  color: black;
}

.search__find-text_mobile input {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  outline: none;
  border: none;
  color: black;
}

.search__find-categories_show {
  display: none;
  position: absolute;
  top: 38px;
  left: 2px;
  z-index: 10;
  background-color: #f1f1f1;
  padding: 20px;
  width: 230px;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.search__find-categories_title {
  font-family: 'MyriadPro';
  font-size: 20px;
  margin-bottom: 15px;
}

.search__find-categories_list {
  line-height: 1.8;
}

.search__find-categories_list li:hover {
  color: #00aa4b;
}

.search__find-categories_list li {
  display: block;
}

.search__find-categories::after {
  content: '';
  position: absolute;
  bottom: 6px;
  right: 7px;
  border: 6px solid transparent;
  border-top: 8px solid #3c3c3c;
}

.search__find-text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.search__find-text input {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  outline: none;
  border: none;
}

.search__find-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 100%;
  background-color: #ffaf2d;
  -webkit-border-radius: 0px 5px 5px 0px;
          border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.search__provider {
  min-width: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'MyriadPro LightSemiExt';
  font-size: 14px;
  line-height: 1.14;
  color: #777777;
  margin-top: 1px;
  margin-right: 2.1%;
}

.search__provider-icon_img {
  display: block;
  width: 35px;
  /* Ширина рисунка */
  height: 35px;
  /*  Высота рисунка */
  background: url("/image/icon/icons-search/portalpostavschikov-2.png") no-repeat;
  margin-right: 5px;
}

.search__provider:hover .search__provider-icon_img {
  background: url("/image/icon/icons-search/portalpostavschikov.png") no-repeat;
}

.search__basket {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 126px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100%;
  padding-bottom: 15px;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.search__basket:hover {
  background: #ffaf2d;
}

.search__basket:hover .search__basket-total,
.search__basket:hover .search__basket-sum {
  color: #fff;
}

.search__basket-quantity {
  margin-right: 12px;
}

.search__basket-count {
  display: block;
  position: relative;
  text-align: center;
  bottom: -7px;
  left: 2px;
  font-family: 'MyriadPro';
  font-size: 14px;
  line-height: 1.14;
  color: #ff8c00;
}

.search__basket:hover .search__basket-count {
  color: #fff;
}

.search__basket-total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'MyriadPro SemiExt';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.14;
  color: #777777;
}

.search__basket-sum {
  font-family: 'MyriadPro';
  font-size: 16px;
  line-height: 1.13;
  color: #171717;
}

.categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 21px;
  background-color: #fff;
  -webkit-box-shadow: 4.3px 5.5px 18px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 4.3px 5.5px 18px 0 rgba(0, 0, 0, 0.11);
}

.categories__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__link {
  text-align: center;
}

.categories__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.categories__slider {
  width: 100%;
  text-align: center;
}

.categories__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__title {
  display: block;
  font-family: 'MyriadPro';
  color: #343434;
  font-size: 14px;
  max-width: 136px;
}

.swiper-button-next, .swiper-button-prev {
  color: #cecece;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 900;
}

.categories__mobile {
  position: relative;
  display: none;
  background: #f1f1f1;
  font-family: 'MyriadPro';
  color: #343434;
  font-size: 29px;
  font-family: 'MyriadPro SemiExt';
  cursor: pointer;
}

.categories__mobile-title {
  position: relative;
  padding: 31px 0 33px;
}

.categories__mobile-title::after {
  content: '>';
  color: #cecece;
  display: inline-block;
  position: absolute;
  top: 28px;
  right: -5px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.main__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.main__item {
  width: 19.4%;
  min-width: 240px;
  height: 476px;
}

.main__menu {
  background-color: #fff;
}

.main__menu-content {
  height: 100%;
}

.main__menu-title {
  font-family: 'MyriadPro';
  font-size: 24px;
  text-align: left;
  color: #ffaf2d;
  padding: 33px 20px 4px 26px;
  margin-bottom: 15px;
}

.main__menu-lists {
  width: 100%;
}

.main__menu-list {
  display: block;
  position: relative;
  font-family: 'MyriadPro LightSemiExt';
  color: #303030;
  line-height: 42px;
  border-bottom: 1px solid #e8e7e7;
  width: 100%;
}

.main__menu-list:first-child {
  height: 47px;
  margin-top: -3px;
}

.main__menu-list:last-child {
  border-bottom: none;
}

.main__menu-link {
  display: inline-block;
  width: 100%;
  padding-left: 27px;
  vertical-align: middle;
  padding-top: 1px;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.main__menu-link:hover {
  color: #faad3d;
}

.main__menu-link::after {
  content: '>';
  color: #cecece;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 18px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.main__slider {
  width: 58.3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
}

.main-container {
  height: 476px;
}

.main__slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #232323;
  color: #f3f1f1;
  padding: 6.7% 7.6% 0 7.6%;
}

.main__slide-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__slide-text {
  max-width: 425px;
}

.main__slide-uptitle {
  font-family: 'MyriadPro LightSemiExt';
  line-height: 1.25;
  color: #777777;
  margin-top: -4px;
}

.main__slide-title {
  font-family: "MyriadPro";
  font-size: 40px;
  line-height: 1.05;
  color: #f3f1f1;
  margin: 64px 0 17px;
  letter-spacing: -0.8px;
}

.main__slide-subtitle {
  font-family: 'MyriadPro LightSemiExt';
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 66px;
}

.main__slide-btn {
  font-family: "MyriadPro";
  font-size: 18px;
  color: #ffffff;
  padding: 9px 20px 8px;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
  background-color: #ffaf2d;
}

.main__slide-img {
  margin-right: 2%;
  margin-top: 1.2%;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-pagination-bullet {
  border: 0.5px solid #fff;
  opacity: 1;
  background: none;
}

.main__banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #faad3d;
}

.main__banner-inner {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 20px 0 26px;
  font-family: 'MyriadPro LightSemiExt';
  font-size: 18px;
  color: #121212;
}

.main__banner-img {
  margin-bottom: 13px;
}

.main__banner-text {
  margin-bottom: 3px;
}

.main__banner-title {
  margin-bottom: 23px;
  font-family: 'MyriadPro';
  line-height: 1;
  font-size: 40px;
  color: #121212;
  letter-spacing: -0.8px;
}

.main__banner-link {
  position: relative;
  color: #ffaf2d;
  margin-bottom: 51px;
}

.main__banner-link::after {
  content: '>';
  color: #ffaf2d;
  position: absolute;
  top: 0;
  left: 167px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.partner-brands__lists {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.partner-brands__list {
  line-height: 100px;
  display: block;
  width: 16.7%;
}

.partner-brands__link {
  color: #282828;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  border-left: solid 1px #e8e7e7;
  line-height: 70px;
}

.partner-brands__list:first-child .partner-brands__link {
  border-left: none;
}

.partner-brands__link img {
  vertical-align: middle;
}

.section {
  margin-top: 170px;
}

.news__main-title {
  font-family: "MyriadPro";
  line-height: 1;
  font-size: 40px;
  margin-bottom: 49px;
  letter-spacing: -0.8px;
}

.news__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.news__left {
  max-width: 34.6%;
  width: 100%;
  margin-right: 7.4%;
}

.news__photo-left {
  margin-bottom: 21px;
}

.news__photo {
  margin-bottom: 38px;
  margin-right: 20px;
}

.news__content {
  margin-top: -2px;
}

.news__content-left {
  margin-left: 2px;
}

.news__img {
  width: 100%;
  height: auto;
}

.news__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'MyriadPro LightSemiExt';
  margin-bottom: 7px;
}

.news__date-left {
  margin-bottom: 11px;
}

.news__date-brand {
  color: #00aa4b;
}

.news__date-date {
  color: #777777;
}

.news__title {
  font-family: "MyriadPro";
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 17px;
  letter-spacing: -0.4px;
  color: #121212;
}

.news__text {
  font-family: 'MyriadPro LightSemiExt';
  color: #121212;
  line-height: 1.2;
}

.news__text p {
  font-family: 'MyriadPro LightSemiExt';
  color: #121212;
}

.news__right {
  width: 100%;
}

.news__right-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news__right-title {
  max-width: 540px;
}

.news__btn {
  padding: 8px 37px 8px 38px;
  font-family: 'MyriadPro LightSemiExt';
  -webkit-border-radius: 26px;
          border-radius: 26px;
  border: solid 2px #282828;
  margin-left: 2px;
}

.recommend {
  margin-top: 165px;
}

.recommend__container {
  padding-left: 6%;
  padding-right: 5.2%;
}

.recommend__link {
  display: block;
}

.section__box {
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.recommend__title {
  font-family: "MyriadPro";
  line-height: 1;
  font-size: 40px;
  letter-spacing: 0px;
  margin-bottom: 17px;
}

.recommend__text {
  font-family: 'MyriadPro LightSemiExt';
  color: #787878;
  letter-spacing: 0.2px;
  line-height: 1.2;
}

.recommend__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.recommend__item {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.recommend__left {
  width: 43%;
  height: 745px;
  margin-right: 12px;
  background: #fff;
}

.recommend__item-content {
  max-width: 284px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 69px;
  text-align: center;
  font-family: 'MyriadPro LightSemiExt';
  color: #121212;
}

.recommend__item-uptitle {
  margin-bottom: 14px;
  margin-top: -2px;
  font-size: 20px;
  text-transform: uppercase;
}

.recommend__item-title {
  font-family: 'MyriadPro';
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: -0.3px;
}

.recommend__item-text {
  color: #777777;
  letter-spacing: 0.19px;
  line-height: 1.2;
}

.recommend__item-img {
  text-align: center;
  padding-left: 11px;
}

.recommend__right {
  width: 57%;
}

.recommend__right-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 420px;
  background-color: #232323;
  font-family: 'MyriadPro LightSemiExt';
}

.recommend__right-content {
  max-width: 394px;
  text-align: left;
  margin-left: 7.3%;
  margin-right: 15px;
  margin-top: 15.3%;
  font-family: 'MyriadPro LightSemiExt';
  color: #fff;
}

.recommend__right-uptitle {
  margin-bottom: 14px;
  margin-top: -2px;
  font-size: 20px;
  font-family: 'MyriadPro LightSemiExt';
  text-transform: uppercase;
}

.recommend__right-title {
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: -0.9px;
}

.recommend__right-text {
  color: #777777;
  letter-spacing: 0.18px;
  line-height: 1.2;
}

.text-nowrap {
  white-space: nowrap;
}

.recommend__right-title span {
  display: block;
  margin-top: 18px;
}

.recommend__right-img {
  width: 387px;
  height: auto;
  display: inline-block;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  margin: 6px 0 0 -197px;
}

.recommend__right-down {
  height: 316px;
  background: #fff;
  margin-top: 9px;
}

.recommend__down-img {
  margin-top: 7px;
  margin-right: -100px;
}

.recommend__right-content_down {
  width: 53%;
  text-align: left;
  margin-left: 7.5%;
  margin-right: 15px;
  margin-top: 12.2%;
  font-family: 'MyriadPro LightSemiExt';
  color: #121212;
}

.services {
  margin-top: 160px;
}

.services__container {
  padding-left: 5.5%;
  padding-right: 5.2%;
}

.services__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services__left {
  max-width: 835px;
  margin-right: 18.2%;
}

.services__title {
  font-family: "MyriadPro";
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 15px;
  letter-spacing: -0.7px;
  max-width: 800px;
}

.services__title-offer {
  font-family: 'MyriadPro LightSemiExt';
  margin-top: 28px;
}

.services__text {
  font-family: 'MyriadPro LightSemiExt';
  font-size: 18px;
  line-height: 1.3;
}

.services__text-offer {
  line-height: 1.2;
}

.services__text-up {
  line-height: 1.2;
  margin-top: -4px;
}

.services__btn-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-left: 1px;
  width: 49px;
  height: 49px;
  background: #232323;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.services__text-show_down {
  margin-top: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.services__text-show_down.active {
  height: auto;
}

.services__right {
  margin-top: 4.5%;
}

.logo__box {
  margin-bottom: 28px;
}

.logo__img {
  margin-bottom: 33px;
}

.logo__title {
  font-family: "MyriadPro";
  font-size: 40px;
  letter-spacing: -0.8px;
  margin-bottom: 8px;
}

.logo__text {
  color: #777777;
  font-family: 'MyriadPro LightSemiExt';
  margin-top: 2px;
}

.company {
  margin-bottom: 24px;
}

.company__title {
  color: #171717;
  font-family: "MyriadPro";
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.company__text {
  color: #777777;
  font-family: 'MyriadPro LightSemiExt';
  font-size: 18px;
  margin-top: 4px;
}

.information__text {
  font-family: 'MyriadPro LightSemiExt';
  font-size: 18px;
  color: #171717;
}

.information__text p {
  line-height: 1.2;
}

.contacts__container {
  padding-left: 5.6%;
  padding-right: 5.6%;
}

.contacts {
  margin-top: 173px;
  background-color: #232323;
}

.contacts__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 89px 0 65px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-family: 'MyriadPro LightSemiExt';
}

.contacts__list:last-child {
  display: none;
}

.contacts__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__list:nth-child(2) {
  margin-left: 30px;
}

.contacts__list:nth-child(3) {
  margin-left: 10px;
}

.contacts__title {
  font-size: 24px;
  color: #777777;
  margin-bottom: 27px;
  line-height: 1;
}

.contacts__link li {
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact__title {
  margin-bottom: 21px;
}

.contact__link {
  line-height: 1.1;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact__link li:nth-child(odd) {
  margin-bottom: 24px;
}

.contact__link li:first-child {
  margin-bottom: 0px;
}

.footer {
  background: #191919;
  height: 112px;
  color: #fff;
}

.footer__container {
  padding-left: 5.2%;
  padding-right: 5.4%;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.footer__logo-img {
  margin-right: 17px;
  margin-top: -3px;
}

.footer__logo-title {
  font-family: "MyriadPro";
  font-size: 24px;
  margin-bottom: 3px;
  letter-spacing: -0.6px;
}

.footer__logo-text {
  line-height: 1.13;
  letter-spacing: 0.16px;
  font-family: 'MyriadPro LightSemiExt';
  color: #787878;
}

.footer__company {
  font-family: 'MyriadPro LightSemiExt';
  font-size: 18px;
  line-height: 1.59;
  letter-spacing: 0.18px;
  margin-top: -0.2px;
  margin-top: 7px;
}

.contact-form__wraper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.container-form {
  position: relative;
}

.contact-form {
  max-width: 485px;
  position: absolute;
  top: 48px;
  right: 15px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  z-index: 1000;
}

.contact-form__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.contact-form__title {
  display: inline;
  font-family: 'MyriadPro';
  font-size: 25px;
  line-height: 1.59;
  letter-spacing: 0.18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.contact-form__btn-close {
  cursor: pointer;
  font-size: 20px;
}

.contact-form__item {
  margin-bottom: 15px;
}

.contact-form__item input {
  padding: 9px 25px 7px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #eee;
  border: 1px solid #eee;
  line-height: 1.2;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-family: 'MyriadPro', sans-serif;
}

textarea {
  resize: none;
  padding: 9px 25px 7px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #eee;
  border: 1px solid #eee;
  line-height: 1.2;
  width: 100%;
}

.form__button {
  text-align: center;
}

.btn-icon {
  background-color: #f22e46;
  border: none;
  outline: 0;
  color: #fff;
  padding: 6px 25px 8px;
  text-decoration: none;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.active {
  display: block;
}

.active-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1300px) {
  .menu__lists {
    font-size: 14px;
  }
  .main__slide {
    padding: 6.7% 4% 0 4%;
  }
  .main__slide-title {
    font-size: 29px;
  }
  .news__left {
    margin-right: 3%;
  }
  .recommend__right-title_down {
    line-height: 1;
  }
}

@media (max-width: 1140px) {
  body {
    font-size: 14px;
  }
  .menu__lists:nth-child(2) {
    width: 60%;
  }
  .menu__lists:last-child li:last-child {
    display: none;
  }
  .email-btn {
    font-size: 15px;
    padding: 6px 11px 6px;
    top: 25px;
  }
  .header__email,
  .header__phone {
    display: none;
  }
  .menu__phone {
    font-style: 10px;
  }
  .search__logo {
    margin-right: 0%;
  }
  .search__find-categories {
    padding-left: 5px;
  }
  .main__item {
    min-width: 240px;
  }
  .main__slide-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__slider {
    margin: 0 7px;
  }
  .main__slide-title {
    font-size: 24px;
  }
  .recommend__item-img img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 960px) {
  .menu__lists:last-child li:nth-child(3) {
    display: none;
  }
  .menu__lists:nth-child(2) {
    width: 126%;
  }
  .search__logo img {
    width: 100%;
    height: auto;
  }
  .search__find {
    margin-right: 1%;
  }
  .search__provider,
  .search__basket-total {
    margin-right: 1%;
    font-size: 13px;
  }
  .search__basket-sum {
    font-size: 13px;
  }
  .main__slide-title {
    font-size: 21px;
  }
  .main__banner-title {
    font-size: 30px;
  }
  .main__item {
    min-width: 235px;
  }
  .main__slide-img {
    display: none;
  }
  .main__slide-title {
    font-size: 32px;
  }
  .partner-brands__link img {
    width: 100%;
    height: auto;
  }
  .news__left {
    display: none;
  }
  .recommend__right-title {
    font-size: 28px;
  }
  .recommend__right-content {
    margin-left: 3%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .main .container {
    padding: 0;
  }
  .menu,
  .search,
  .categories {
    display: none;
  }
  .header__mobile,
  .categories__mobile {
    display: block;
  }
  .menu__mobile {
    display: block;
    position: absolute;
    left: -15px;
    right: -15px;
    z-index: 20;
    text-align: center;
    top: 99px;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    z-index: 1000;
  }
  .menu__mobile_lists {
    width: 100%;
    font-size: 16px;
    color: #fff;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .menu__mobile_lists.active {
    height: auto;
  }
  .menu__mobile ul li {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    line-height: 2;
  }
  .menu__mobile ul li a {
    display: block;
    background-color: #fda11c;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .contact-form {
    top: 100px;
    right: 0px;
  }
  .main__menu {
    position: absolute;
    left: 0px;
    z-index: 50;
    font-size: 18px;
    width: 51.4%;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .main__menu.active {
    height: auto;
  }
  .main__inner {
    display: block;
    margin-bottom: 0;
  }
  .main-container {
    height: 555px;
  }
  .main__slider {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    height: 556px;
  }
  .main__slide-title {
    font-size: 40px;
  }
  .main__slide-img {
    display: block;
    width: 256px;
  }
  .main__slide-content {
    -webkit-box-align: normal;
    -webkit-align-items: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .main__slide {
    padding: 6.7% 3% 0 4.4%;
  }
  .main__slide-text {
    max-width: 365px;
    padding-top: 34px;
  }
  .main__slide-uptitle {
    font-size: 25px;
  }
  .main__slide-title {
    font-family: "MyriadPro";
    margin: 43px 0 23px;
  }
  .main__slide-subtitle {
    font-size: 25px;
    margin-bottom: 38px;
  }
  .main__slide-btn {
    display: inline-block;
    font-size: 35px;
    padding: 18px 30px 15px;
    -webkit-border-radius: 36.5px;
            border-radius: 36.5px;
    letter-spacing: -2.1px;
  }
  .main__slide-img {
    width: 256px;
    height: 357px;
  }
  .main__slide-img {
    margin-top: 2.2%;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 37px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
  .main__banner {
    width: 92%;
    height: 476px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .main__banner-inner {
    -webkit-box-pack: normal;
    -webkit-justify-content: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding-left: 60px;
    padding-top: 81px;
  }
  .main__banner-img {
    height: 145px;
    width: auto;
    margin-bottom: 27px;
  }
  .main__banner-img img {
    height: 100%;
    width: auto;
  }
  .main__banner-text {
    font-size: 25px;
    margin-bottom: 14px;
  }
  .main__banner-title {
    font-size: 50px;
    margin-bottom: 47px;
  }
  .main__banner-link {
    font-size: 30px;
  }
  .main__banner-link::after {
    left: 277px;
  }
  .partner-brands {
    width: 92%;
    margin: 0 auto;
  }
  .partner-brands__lists {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .partner-brands__list {
    width: 50%;
    line-height: 170px;
  }
  .partner-brands__link img {
    max-width: 225px;
    height: auto;
  }
  .partner-brands__link {
    line-height: 120px;
    font-size: 31px;
    font-family: 'MyriadPro';
  }
  .partner-brands__list:nth-child(odd) .partner-brands__link {
    border-left: none;
  }
  .partner-brands__list {
    border-bottom: solid 1px #e8e7e7;
  }
  .news {
    display: none;
  }
  .section__box {
    margin-bottom: 78px;
  }
  .recommend {
    margin-top: 144px;
  }
  .recommend__title {
    font-size: 48px;
  }
  .recommend__text {
    letter-spacing: 0px;
    font-size: 30px;
  }
  .recommend__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .recommend__item {
    width: 100%;
  }
  .recommend__item-img {
    width: 260px;
    height: auto;
    margin-top: 19px;
    margin-left: 125px;
  }
  .recommend__item-img img {
    height: auto;
    width: auto;
  }
  .recommend__link-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .recommend__left {
    height: 480px;
    margin-right: 0;
  }
  .recommend__item-content {
    max-width: 330px;
    text-align: left;
    margin-left: 9.9%;
    margin-right: 0;
    margin-top: 121px;
  }
  .recommend__item-img {
    width: 260px;
    height: auto;
    margin-top: 19px;
    margin-left: 63px;
    padding-left: 0px;
  }
  .recommend__item {
    margin-bottom: 10px;
  }
  .recommend__item-uptitle {
    margin-bottom: 35px;
    font-size: 30px;
  }
  .recommend__item-title {
    font-size: 38px;
    margin-bottom: 61px;
  }
  .recommend__item-text {
    font-size: 24px;
  }
  .recommend__right-box {
    height: 484px;
  }
  .recommend__right-img {
    width: 387px;
    margin: 50px 0 0 -151px;
  }
  .recommend__right-content {
    margin-left: 6%;
    margin-top: 11.3%;
  }
  .recommend__right-uptitle {
    margin-bottom: 41px;
    margin-top: 0px;
    font-size: 28px;
  }
  .recommend__right-title {
    font-size: 38px;
    line-height: 0.7;
    margin-bottom: 66px;
  }
  .recommend__right-text {
    font-size: 25px;
    letter-spacing: 0.1px;
  }
  .recommend__down-img {
    margin-top: 75px;
    margin-right: 0px;
    margin-left: 93px;
  }
  .recommend__right-uptitle_down {
    margin-bottom: 27px;
  }
  .services {
    margin-top: 115px;
  }
  .services__right {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 59px;
    margin-bottom: 130px;
  }
  .services__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .services__text-show {
    display: none;
  }
  .logo__box {
    margin-bottom: 60px;
  }
  .logo__img {
    margin-bottom: 74px;
    width: 246px;
    height: 246px;
  }
  .logo__img img {
    width: 100%;
    height: auto;
  }
  .logo__title {
    font-family: "MyriadPro";
    font-size: 49px;
  }
  .logo__text {
    margin-top: 12px;
    font-size: 25px;
    letter-spacing: -0.1px;
  }
  .company {
    margin-bottom: 45px;
  }
  .company__title {
    font-size: 39px;
  }
  .company__text {
    font-size: 30px;
    margin-top: 9px;
  }
  .information__text {
    font-size: 30px;
  }
  .services__left {
    margin-right: 0;
  }
  .services__title {
    font-size: 49px;
    letter-spacing: -0.4px;
    margin-bottom: 51px;
  }
  .services__text {
    font-size: 31px;
    line-height: 1.2;
    letter-spacing: -0.3px;
    margin-right: 20px;
  }
  .services__btn-circle {
    margin-top: 115px;
    width: 102px;
    height: 102px;
    font-size: 50px;
  }
  .contacts {
    margin-top: 154px;
  }
  .contacts__inner {
    display: block;
    padding: 81px 23px 9px;
  }
  .contacts__list {
    margin-bottom: 20px;
    cursor: pointer;
  }
  .contacts__list:nth-child(2),
  .contacts__list:nth-child(3) {
    margin-left: 0px;
  }
  .contacts__link {
    display: none;
  }
  .contacts__title {
    position: relative;
    font-size: 30px;
    margin-bottom: 34px;
    padding-bottom: 30px;
    color: #fff;
    border-bottom: 1px solid #777777;
  }
  .contacts__title::after {
    content: '+';
    color: #cecece;
    display: inline-block;
    position: absolute;
    top: -1px;
    right: -3px;
  }
  .contacts__title.active::after {
    content: '-';
    color: #cecece;
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -3px;
    font-size: 50px;
  }
  .contacts__list:last-child .contacts__title {
    border-bottom: none;
  }
  .contacts__list:last-child {
    display: block;
  }
  .footer {
    height: auto;
  }
  .footer__inner {
    display: block;
    padding: 43px 0px 0px 20px;
  }
  .footer__logo-box {
    margin-top: 0px;
    padding-top: 0px;
  }
  .footer__logo-img {
    margin-right: 24px;
    margin-top: 0px;
  }
  .footer__logo-img .logo__link {
    width: 89px;
    height: 89px;
  }
  .footer__logo-img img {
    width: 100%;
    height: 100%;
  }
  .footer__logo-title {
    font-size: 48px;
    margin-bottom: 16px;
    letter-spacing: 0px;
    padding-top: 20px;
  }
  .footer__logo-text {
    line-height: 1.13;
    letter-spacing: 0.16px;
    font-family: 'MyriadPro LightSemiExt';
    color: #787878;
    font-size: 30px;
    letter-spacing: 0.3px;
    color: #fff;
  }
  .footer__company {
    font-size: 40px;
    letter-spacing: 0.4px;
    margin-top: -0.2px;
    margin-top: 17px;
    padding-bottom: 41px;
  }
  .active {
    display: block;
  }
}

@media (max-width: 720px) {
  .main__slide-title {
    font-size: 32px;
  }
}

@media (max-width: 660px) {
  .recommend__right-title {
    font-size: 30px;
    margin-bottom: 45px;
  }
  .recommend__right-text {
    font-size: 22px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 10px;
  }
  .header__btn {
    margin-right: 10px;
  }
  .header__btn {
    width: 60px;
    height: 60px;
  }
  .menu__mobile {
    top: 86px;
  }
  .mobile__logo-content {
    display: none;
  }
  .mobile__logo {
    width: auto;
  }
  .main__banner-inner {
    padding-left: 25px;
  }
  .recommend__item-content {
    margin-left: 4%;
  }
  .recommend__right-img img {
    display: none;
  }
  .recommend__right-img {
    margin: 0px;
    width: 0;
  }
  .recommend__right-box {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__right {
    margin-left: 0px;
  }
  .footer__inner {
    display: block;
    padding-left: 0;
  }
  .footer__logo-title {
    font-size: 42px;
  }
  .footer__logo-text {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */